@import "../assets/common/common";
@import "../assets/common/mobile";
@import "../assets/common/web";

#Overview {
  .log-mood-bttn {
    @include web_std_input;
    display: block;
    background-color: $primary_color;
    color: $button_light_color;
    width: 313px / $mock_screen_width * 100vw;
  }

  .container,
  h1:first-child {
    width: 313px / $mock_screen_width * 100vw;
  }

  .flex-center-container {
    display: flex;
    justify-content: center;
  }
}
