@import "../assets/common/common";
@import "../assets/common/mobile";
@import "../assets/common/web";

#EmptyStateEmotion {
  .empty_state_emotions {
    width: (249px / $mock_screen_width) * 100vw;
  }

  button {
    @include web_std_input;
    display: block;
    background-color: $primary_color;
    color: $button_light_color;
    width: 313px / $mock_screen_width * 100vw;
  }
}
