@import "../assets/common/common";
@import "../assets/common/mobile";
@import "../assets/common/web";

#LogMood {
  button {
    @include mobile_std_input;
  }

  button {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $button_light_color;
    &[type="button"] {
      color: $button_light_text_color;
    }
    &[type="submit"] {
      border: 0;
      background-color: $primary_color;
      color: $button_light_color;
    }
  }
}
