@import "../assets/common/mobile";

$primary_color: #5a6174;
$accent_color: #f78b45;
$mock_screen_width: 360px;
$mock_screen_height: 640px;
$round_radius: 50px;
$border_color: rgba(149, 160, 191, 0.2);
$button_light_color: #fefefe;
$button_light_text_color: #808080;
$error_color: #ed6f5f;
$mobile_header_height: 56px;
@mixin round_border_radius {
  border-radius: $round_radius;
}

@font-face {
  font-family: "YuGoth";
  src: local("YuGothR"), url(../../fonts/YuGothR.ttc) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url(../../fonts/Roboto-Regular.ttf) format("truetype");
}

.error {
  color: $error_color;
}

.inputField .error {
  font-size: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  h1 {
    @include header_1;
  }
}
