@use './common';

@mixin mobile_std_input {
  @include round_border_radius();
  font-family: "YuGoth";
  border-color: $border_color;
  border-width: 1px;
  padding-left: 5px;
  width: (313px / $mock_screen_width) * 100vw;
  height: (53px / $mock_screen_height) * 100vh;
}

@mixin header_1 {
  font-family: "Roboto-Regular";
  font-size: 20px;
  color: $primary_color;
  font-weight: normal;
}
