@use './common';

$mock_web_width: 1280px;
$mock_web_height: 784px;

@mixin web_std_input {
  @include round_border_radius();
  font-family: "YuGoth";
  border-color: $border_color;
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  width: 40vw;
  height: (53px / $mock_web_height) * 100vh;
}
