@import "../assets/common/common";
@import "../assets/common/mobile";
@import "../assets/common/web";

#Journal {
  .react-calendar {
    .react-calendar__month-view__days__day:hover {
      &:not(.rating):not(:enabled),
      &:focus {
        background-color: initial;
      }
    }
    width: 985px / $mock-web_width * 100vw;
    max-width: 985px;
    font-size: 30px;
    //max-height: 650px;
    //height: 650px / $mock_web_height * 100vh;
    .react-calendar__month-view__days button {
      font-size: 23px;
    }
    .react-calendar__navigation button {
      font-size: 26px;
    }
  }
}

.journal-entry-drawer {
  width: 25vw;
}
